/* .image{
    width: 100%;
    position: absolute;

}

.firstsec svg{
    position: relative;
    top: 36.5%;
    left: 10%;
   
}*/
textPath{
    font-weight: 600;
    font-size: 14px;
   
    
} 

/* 
M 110 150 q 150 29 300 -25




M73,324 C136,401 464,420 542,321 */